@use './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--white);
    font-size: 16px;
}