.button {
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.2s ease;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.primary {
    background-color: var(--primary);
    color: var(--black);

    &:hover {
        background-color: var(--secondary);
    }
}

.secondary {
    background-color: var(--grey700);
    color: var(--white);
    border: 1px solid var(--primary);

    &:hover {
        background-color: var(--grey600);
    }
}


.white {
    border: 1px solid var(--primary);
    background-color: var(--white);
    color: var(--primary);

    &:hover {
        border-color: var(--secondary);
        color: var(--secondary);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.medium {
    padding: 16px 28px;
}

.big {
    padding: 20px 30px;
}

.fullWidth {
    width: 100%;
}