.scanner {
    width: 600px;
    margin: 30px 20px;
    border-radius: 16px;
    background-color: var(--bg-card);

    .btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .center {
        display: flex;
        align-items: center;
    }

    .file {
        margin: 20px auto;

        &::file-selector-button {
            background-color: var(--grey700);
            height: 40px;
            border-radius: 16px;
            padding: 10px 20px;
            color: var(--grey000);
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: var(--grey600);
            }
        }
    }
}