.notification {
    background: var(--bg-card);
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    border-left: 6px solid transparent;
    transition: 0.2s ease;
}

.notification:hover {
    transform: translateY(-2px);
}

.danger {
    border: 1px solid #ef4444;
    border-left: 6px solid #ef4444;
}

.warning {
    border: 1px solid #f59e0b;
    border-left: 6px solid #f59e0b;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: var(--grey500);
}

.description {
    margin-bottom: 16px;
}

.diseaseBlock {
    background: #f9fafb;
    padding: 14px;
    border-radius: 12px;
}

.disCard {
    height: fit-content;
    width: fit-content;
    border-radius: 16px;
    padding: 10px 20px;
    background-color: var(--grey700);
    color: white !important;
    transition: 0.3s;

    &:hover {
        background-color: var(--primary);
        color: var(--grey700) !important;
    }
}

.display {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.risk {
    width: 200px;
    border-radius: 10px;
    padding: 5px 10px;
}

.list {
    width: 600px;
    margin-bottom: 10px;
}

.list ul {
    padding-left: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.details strong {
    display: block;
    margin-bottom: 4px;
}

.red {
    background-color: #ef4444;
}

.yellow {
    background-color: #f59e0b;
}