header {
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--quaternary);
    box-shadow: 0 4px 20px #c5c5c564;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

    .leftside {
        display: flex;
        gap: 15px;

        .notifications {
            height: 45px;
            width: 45px;
            background-color: var(--primary);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }



        .profile {
            display: flex;
            align-items: center;
            gap: 8px;

            .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50px;
                background-color: var(--primary);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }
}