.card {
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .textBlock {
        max-width: 480px;
        width: 100%;
        border: 1px solid var(--grey200);
        border-radius: 16px;
        padding: 30px 20px;
        transition: 0.2s;

        &.selected {
            border-color: var(--primary);
        }

        .crop {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
        }

        .text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 6px;

            .result {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }



    .map {
        flex: 1;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    .btn {
        margin-top: 20px;
    }


}